<style>
    .spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #d3d3d39c;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
</style>

<div class="spinner d-flex align-items-center justify-content-center spinner">
    <div class="spinner-border text-success" role="status">
    </div>
</div>
