@page
@model Adcda.Connect.OIDC.Server.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<style>
    .form-control:focus {
        box-shadow: none;
        border: 1px solid #0A66C2;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #625656;
    }


    label {
        color: #625656 !important;
    }

    .btn-submit {
        width: 100%;
        background-color: #0A66C2;
    }

    button:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #bfb7b7;
    }

    .separator:not(:empty)::before {
        margin-right: .25em;
    }

    .separator:not(:empty)::after {
        margin-left: .25em;
    }
</style>

<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-4">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-12 p-2 d-flex align-items-center">
                            <div class="card-body  text-black">
                                <h2>Sign in</h2>
                                <p>Access to ADCDA Portals</p>
                                <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mt-4">
                                        <input asp-for="Input.Email" type="email" autocomplete="off" class="form-control" id="txtEmail" placeholder="Email">
                                        <label asp-for="Input.Email" for="floatingInput">Email</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mt-4">
                                        <input asp-for="Input.Password" type="password" autocomplete="current-password" class="form-control" id="txtPassword" placeholder="Password">
                                        <label asp-for="Input.Password" for="floatingPassword">Password</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <a id="forgot-password" asp-page="./ForgotPassword" style="color: #0A66C2;
    font-weight: 500;text-decoration:none;">Forgot password?</a>
                                    </div>

                                    <div class="form-group mt-4">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-submit">
                                            Sign in
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $('#account').bind('submit', function async(e) {
            e.preventDefault();

            let $form = this;
            $.busyLoadFull("show", {
                spinner: "cubes",
                animation: "fade",
                animationDuration: "slow"
            });

            delay(function () {
                $form.submit();
            }, 5000);
        });

        $("#account").bind('ajax:complete', function () {
            $.busyLoadFull("hide");
        });
    </script>
}
